@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";
@import "@fontsource/pretendard/index.css";
/*@custom-variant dark (&:where(.p-dark, .p-dark *));
*/
#app {
  min-width: 1024px;
  margin: 0 auto;
  font-weight: normal;
  /* max-width: 1280px; */
  /*padding: 2rem;*/
  /*background-color: var();*/
}

body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/*noinspection ALL*/
:root {
  --p-text-color: var(--p-surface-800);
  --p-text-muted-color: var(--p-surface-600);

  --p-content-color: var(--p-surface-800);
  --p-content-background: var(--p-surface-200);
  --p-content-border-color: var(--p-surface-400);
  --p-content-hover-background: var(--p-surface-700);

  --p-button-primary-color: var(--p-surface-100);
  --p-button-text-secondary-color: var(--p-surface-600);

  --p-overlay-select-border-color: var(--p-surface-400);
  --p-overlay-modal-border-color: var(--p-surface-400);
  --p-overlay-popover-background: var(--p-surface-100);
  --p-overlay-popover-border-color: var(--p-surface-400);

  /*이게 맞나*/
  --p-menubar-color: var(--p-surface-800);
  --p-navigation-item-focus-background: var(--p-surface-200);
  --p-overlay-select-background: var(--p-surface-200);
  --p-overlay-select-color: var(--p-surface-800);

  --p-datatable-border-color: var(--p-surface-300);
  --p-form-field-background: var(--p-surface-100);
  --p-form-field-border-color: var(--p-surface-500);
  --p-form-field-color: var(--p-surface-800);
}

/*noinspection ALL*/
.p-menubar {
  background-color: var(--color-background);
  border: none;
}

/*noinspection ALL*/
.p-menubar-item-content {
  color: var(--p-surface-800);
}

/*noinspection ALL*/
.p-menubar-item-content:hover {
  background: var(--p-surface-200);
}

.p-datepicker-header button {
  color: var(--p-surface-800);
}
