@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";
/*@custom-variant dark (&:where(.p-dark, .p-dark *));
*/
#app {
  min-width: 1024px;
  margin: 0 auto;
  font-weight: normal;
  /* max-width: 1280px; */
  /*padding: 2rem;*/
  /*background-color: var();*/
}

/*noinspection ALL*/
:root {
  --color-background: var(--p-surface-100);
  --p-text-color: var(--p-surface-800);

  --p-content-color: var(--p-surface-800);
  --p-content-background: var(--p-surface-200);
  --p-content-border-color: var(--p-surface-400);

  --p-overlay-select-border-color: var(--p-surface-400);
  --p-overlay-modal-border-color: var(--p-surface-400);
  --p-overlay-popover-background: var(--p-surface-100);
  --p-overlay-popover-border-color: var(--p-surface-400);

  /*이게 맞나*/
  --p-menubar-color: var(--p-surface-800);
  --p-navigation-item-focus-background: var(--p-surface-200);
  --p-overlay-select-background: var(--p-surface-200);
  --p-overlay-select-color: var(--p-surface-800);

  --p-datatable-border-color: var(--p-surface-300);
  /*--p-input-text-background*/
  --p-form-field-background: var(--p-surface-100);
  --p-form-field-border-color: var(--p-surface-500);
  --p-form-field-color: var(--p-surface-800);
  /*--p-card-background: var(--p-content-color);*/
  /*--p-menubar-background: var(--color-background);*/
  /*--p-menubar-border-color: var(--color-background);*/
}

/*noinspection ALL*/
/*.p-card {*/
/*  background-color: var(--p-content-color);*/
/*}*/

/*noinspection ALL*/
.p-button {
  color: var(--p-surface-100);
  /*background-color: var(--p-primary-700);*/
}

/*noinspection ALL*/
.p-menubar {
  background-color: var(--color-background);
  border: none;
}

/*noinspection ALL*/
.p-menubar-item-content {
  color: var(--p-surface-800);
}

/*noinspection ALL*/
.p-menubar-item-content:hover {
  background: var(--p-surface-200);
}

.p-datepicker-header button {
  color: var(--p-surface-800);
}
